body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("./imagens/fundo.png"); */
  background-image: url("../imagens/infoSecurity.png");
  background-attachment: fixed;
  height: 100%;
  display: flex;
}

.testeCard{
  position: absolute;
  top: 4%;
  left: 9%;
}

a {
  transition: .3s;
}

.alerta{
  position: absolute;
    width: 40%;
    top: 7%;
    left: 35%;
}


.footer {
  top: 72%;
  position: absolute;
  padding-top: 45px;
  width: 100%;
  background: #043668;
}




.card1{
  position: absolute;
  top: 31%;
  width: 85%;
}

.card2{
  position: absolute;
  top: 31%;
  left: 34%;
  width: 85%;
}

.card3{
  position: absolute;
  top: 31%;
  left: 70%;
  width: 85%;
}

.teste{
  height: 30%;
  position: absolute;
  left: 25%;
  top: 15%;
  width: 52%;
  color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
}

.apresentacao{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: small;
  top: 12%;
  left: 5%;
}





.footer .footer-contact {
  position: relative;
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-contact h4 {
  position: relative;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

.footer .footer-contact p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}


.footer .footer-contact a i {
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
}

.footer .footer-contact a:hover i {
  color: #0085ff;
}

@media (max-width: 767.98px) {
  .footer .footer-contact .col-md-4 {
    margin-bottom: 25px;
  }

  .footer .footer-contact .col-md-4:last-child {
    margin: 0;
  }
}







.footer .copyright .copy-menu {
  position: relative;
  font-size: 0;
  text-align: right;
}

.footer .copyright .copy-menu a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .copyright .copy-menu a:hover {
  color: #0085ff;
}

@media (max-width: 767.98px) {
  .footer .copyright .copy-text,
  .footer .copyright .copy-menu {
    text-align: center;
  }



}