<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="../Script/script.js"></script>
  <link rel="stylesheet" href="../Style/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css'>

  <title>InfoSecurity</title>

  

    
</head>
<body>

    <!-- Menu de cima -->
       
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
        <a class="navbar-brand" href="../View/index.html">InfoSecurity</a>
        <a class="navbar-brand" href="../View/contato.html">Fale Conosco</a>
        <a class="navbar-brand" href="../View/produtos.html">Produtos</a>
        <a class="navbar-brand" href="../View/sobre.html">Sobre</a>
      </nav>
    
  
    <!-- Fim Menu de cima -->
<div class="alerta" id="alerta">

</div>
 

 <div class="testeCard">
  <div class="container mt-5">
    <div class="row">
        <!-- Produto 1 -->
        <div class="col-md-3">
            <div class="card">
                <img src="https://via.placeholder.com/300x200.png?text=SecureGuard+Firewall+X100" class="card-img-top" alt="SecureGuard Firewall X100">
                <div class="card-body">
                    <h5 class="card-title">SecureGuard Firewall X100</h5>
                    <p class="card-text">solução robusta para proteção de redes corporativas.</p>

                    <button type="button" class="btn btn-outline-primary"> <a href="../View/contato.html">Saiba mais </a></button>

                </div>
            </div>
        </div>
        <!-- Produto 2 -->
        <div class="col-md-3">
            <div class="card">
                <img src="https://via.placeholder.com/300x200.png?text=CyberShield+Antivirus+Pro" class="card-img-top" alt="CyberShield Antivirus Pro">
                <div class="card-body">
                    <h5 class="card-title">CyberShield Antivirus Pro</h5>
                    <p class="card-text">oferece proteção abrangente contra malwares, ransomware e outras ameaças.</p>

                    <button type="button" class="btn btn-outline-primary"> <a href="../View/contato.html">Saiba mais </a></button>
                </div>
            </div>
        </div>
        <!-- Produto 3 -->
        <div class="col-md-3">
            <div class="card">
                <img src="https://via.placeholder.com/300x200.png?text=DataLock+Encrypter+5.0" class="card-img-top" alt="DataLock Encrypter 5.0">
                <div class="card-body">
                    <h5 class="card-title">DataLock Encrypter 5.0</h5>
                    <p class="card-text">proporciona criptografia de ponta para seus dados sensíveis. Ideal para empresas que necessitam de proteção.</p>

                    <button type="button" class="btn btn-outline-primary"> <a href="../View/contato.html">Saiba mais </a></button>
                </div>

                
            </div>
        </div>

        <!-- Produto 3 -->
        <div class="col-md-3">
          <div class="card">
              <img src="https://via.placeholder.com/300x200.png?text=DataLock+Encrypter+5.0" class="card-img-top" alt="InvisoSecure VPN Elite">
              <div class="card-body">
                  <h5 class="card-title">InvisoSecure VPN Elite                  </h5>
                  <p class="card-text">O InvisoSecure VPN Elite é a solução definitiva para garantir a privacidade e a segurança online.</p>

                  <button type="button" class="btn btn-outline-primary"> <a href="../View/contato.html">Saiba mais </a></button>
              </div>


          </div>
      </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </div>

    <!-- Inicio Rodapé-->
    <footer class="footer">
  
        <div class="container">
          <div class="footer-contact">
            <div class="row align-items-center">
              
              <div class="col-md-6">
                <h4>E-mail</h4>
                <p>contato@InfoSecurity.com.br</p>
              </div>
              
              <div class="col-md-6">
        
                <h4>Redes Sociais</h4>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
              
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
          
            <div class="row align-items-center">
              
         
              <div class="col-md-12">
                <div class="copy-menu">
                  <a href="#">Termos de Uso</a>
                  <a href="#">Privacidade</a>
                  <a href="#">InfoSecurity</a>
                </div>
              </div>
            
            </div>
          
          </div>
        </div>
      </footer>
    <!-- Fim  Rodapé-->

</body>
</html>